# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Dataset
data/
dataset/
chest_xray/

# Model checkpoints
*.pt
*.pth
*.ckpt

# Experiment outputs
results/
outputs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Secrets
.env